<label>value 1 : </label>
<input type="text"[formControl]="value1Field">
<br><br>

<label>value 1 : </label>
<input type="text"[formControl]="value2Field">
<br><br>

<label>Answer: </label>
<input type="text"[formControl]="ansField">
<br><br>

<button style="background-color: blue" (click)="operation('sum')">Addition</button>
<button style="background-color: blue" (click)="operation('sub')">Subtraction</button>
<button style="background-color: blue" (click)="operation('mul')">Multiplication</button>
<button style="background-color: blue" (click)="operation('div')">Division</button>
